*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background: #6589F9;
}

.grid {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  background: #cbc7c0 url('images/card.png') no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-color: #e1e4ee;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: #6589F9 !important;
}
.Btn-reset{
    width: 100px;
    height: auto;
    border-radius: 5px;
    border: 1px solid whitesmoke;
padding: 4px;
color:#323232;
font-size: medium;
font-family: 'Times New Roman', Times, serif;
background-color: wheat;
margin-bottom: 20px;
}
.gameTitle{

font-family: 'Times New Roman', Times, serif;
color: antiquewhite;
margin-bottom: 10px;
}